[Desktop Entry]
Name=Proyector Virtual
Comment=Activa o desactiva la pantalla virtual y transmisión
Exec=/ruta/completa/al/script/VirtualScreen.sh
Icon=/usr/share/icons/virtualScreenOff.png
Terminal=false
Type=Application
Categories=Utility;