[Desktop Entry]
Name=Proyector Virtual
Comment=Activa o desactiva la pantalla virtual y transmisión
Exec=/ruta/completa/al/script/proyector_virtual_toggle.sh
Icon=/usr/share/icons/virtualScreanOff.png
Terminal=false
Type=Application
Categories=Utility;